body {
    background-color: #999999;
}
tr, td {
    width: 280px;
}
.btn-complete{
    background-color: #404040;
    color:white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.btn-delete{
    background-color: #404040;
    color:white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px
}
.cmpl {
    background-color: 	 #85e085;
    font-size: 30px;
}
.cmplred {
    background-color: #ff4d4d;
    font-size: 30px;
}    
.inputs {
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.tl {
    margin-left: 150px;
    font-size: 2em;
}
#taskList {
    margin-left: 150px;
.subbtn {
    font-size: 18px;
    border-radius: 4px;
}
