.cmplred {
    background-color: #ffcccc;
}
.cmpl {
    background-color: aquamarine;
}
.inputs{
    display: flexbox;
    justify-content: center;
    align-items: flex-start;
}
.TQ {
    display: flexbox;
    justify-content: center;
    align-items: center;
}
#tasklist{
    display: flexbox;
    justify-content: center;
    align-items: flex-end;
}
