body {
    background-color: #d9d9d9;
}
.cmpl {
    background-color: 	 #85e085;
    font-size: 2.0em;
    border: solid black;
}
.cmplred {
    background-color: #ff4d4d;
    font-size: 2.0em;
    border: solid black;
}
.inputs{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.tl {
    margin-left: 150px;
    font-size: 2em;
}
#taskList {
    margin-left: 150px;
    border: solid, black;
}
.subbtn{
    font-size: 18px;
    border-radius: 4px;

}
